*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}

.leftPart{
    width: 25vw;
    padding: 10px;
}

.rightPart{
    width: 75vw;
}

.home ul li{
    display: flex;
    gap: 10px;
    width: 15px;
    list-style: none;
    padding-top: 14px;
    padding-left: 10px;
    font-weight: bold;
}

.logo{
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 20px;
    font-weight: bold;
    font-size: 20px;
}

.heading{
    display: flex;
    gap: 150px;
    width: 100%;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 15px;
}

.heading img{
    width: 25px;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.library{
    min-height: 75vh;
    position: relative;
}

.footer{
    display: flex;
    font-size: 10px;
    gap: 8px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a{
    color: grey;
}

.rightPart{
    margin: 16px 0;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34 34 34);
}

.header > *{
    padding: 10px;
}

.playlist{
    padding: 15px;
    overflow-y: scroll;
    max-height: 70vh;
}

.fansofCard{
    margin: 25px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    
}

.fans{
    width: 180px;
    padding: 8px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.fans > *{
    padding-top: 6px;
}

.fans img{
    width: 100%;
    object-fit: contain;
}

.dailymixCard{
    margin: 25px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.dailymix{
    width: 180px;
    padding: 8px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.dailymix > *{
    padding-top: 6px;
}

.dailymix img{
    width: 100%;
    object-fit: contain;
}

.recentlyplayCard{
    margin: 25px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.recentlyplay{
    width: 180px;
    padding: 8px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.recentlyplay > *{
    padding-top: 6px;
}

.recentlyplay img{
    width: 100%;
    object-fit: contain;
}

.top50Card{
    margin: 25px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.top50{
    width: 180px;
    padding: 8px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.top50 > *{
    padding-top: 6px;
}

.top50 img{
    width: 100%;
    object-fit: contain;
}

.play{
    background-color: #0e883b;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 150px;
    right: 15px;
    opacity: 1;
    transition: all 1s ease-out;
    cursor: pointer;
}

.buttons>* {
    margin: 0 12px;
}

.signupbutton {
    background-color: rgb(34 34 34);
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbutton:hover {
    font-size: 17px;
    color: white
}

.loginbutton {
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}

.loginbutton:hover {
    font-weight: bold;
    font-size: 17px;
}

.songList{
    height: 385px;
    overflow-y: auto;
}

.songList ul{
    padding: 0 5px;
}

.songList ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: 1px solid white;
    margin: 10px 0;
    padding: 5px;
    border-radius: 8px;
}

.songList .songInfo{
    font-size: 16px;
    width: 350px;
}

.playNow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playNow span{
    font-size: 15px;
    width: 30px;
    padding: 10px;
}

.playbar{
    position: fixed;
    filter: invert(1);
    background-color: #dad5d5;
    border-radius: 10px;
    width: 71.5vw;
    height: 80px;
    padding: 10px;
}

.songbuttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.songbuttons img{
    cursor: pointer;
}

.upperBar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 25px;
    margin-left: 6px;
}

.seekbar{
    width: 63.5vw;
}

.lowerBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.songName, .songTime{
    color: black;
    padding: 0 12px;
}

.volumeBar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}